<div id="c{data.uid}" class="fce-teaser-box frame frame-{data.frame_class} {data.flexform_addClass} frame-type-{data.CType} frame-layout-{data.layout} frame-width-{data.flexform_width} frame-space-before-{data.space_before_class} frame-space-after-{data.space_after_class}">
    <div class="inner">
        <div class="titleImage">
            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
        </div>
        <div class="content">
            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
        </div>
    </div>
</div>