<div id="c{data.uid}" class="fce-dashboard-box frame frame-{data.frame_class} {data.flexform_addClass} frame-type-{data.CType} frame-layout-{data.layout} frame-width-{data.flexform_width} frame-space-before-{data.space_before_class} frame-space-after-{data.space_after_class}">
    <f:link.typolink parameter="{data.flexform_link}">
        <div class="inner">
            <div class="background">
                <div></div>
                <f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw>
            </div>
            <div class="content">
                <div class="header">
                    <header>
                        <h3>
                            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
                        </h3>
                    </header>
                </div>
                <div class="text">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
                <div class="button {data.flexform_button_color}">
                    <f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
                </div>
            </div>
        </div>
    </f:link.typolink>
</div>