<div id="c{data.uid}" data-height="{data.flexform_height}" data-disableOnMobileDevices="{data.flexform_disableOnMobileDevices}" class="fce-parallax frame frame-{data.frame_class} {f:if(condition: data.flexform_preview, then: 'frame-relative')} {data.flexform_addClass} frame-type-{data.CType} frame-layout-{data.layout} frame-space-before-{data.space_before_class} frame-space-after-{data.space_after_class}">
    <div class="background">
        <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
    </div>
    <div class="inner">
        <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
    </div>
</div>