<f:spaceless>
    <div id="c{data.uid}"
         class="fce-5-col frame frame-{data.frame_class} {data.flexform_addClass} frame-type-{data.CType} frame-layout-{data.layout} frame-width-{data.flexform_width} frame-space-before-{data.space_before_class} frame-space-after-{data.space_after_class}">
        <div class="row items-stretch {data.flexform_addRow}">
            <div class="col {data.flexform_xsleft1} {data.flexform_smleft1} {data.flexform_mdleft} {data.flexform_lgleft1} {data.flexform_xlleft1}">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
                </div>
            </div>
            <div class="col {data.flexform_xsleft2} {data.flexform_smleft2} {data.flexform_mdleft2} {data.flexform_lgleft2} {data.flexform_xlleft2}">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
            </div>
            <div class="col {data.flexform_xscenter} {data.flexform_smcenter} {data.flexform_mdcenter} {data.flexform_lgcenter} {data.flexform_xlcenter} center">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
                </div>
            </div>
            <div class="col {data.flexform_xsright2} {data.flexform_smright2} {data.flexform_mdright2} {data.flexform_lgright2} {data.flexform_xlright2}">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
                </div>
            </div>
            <div class="col {data.flexform_xsright1} {data.flexform_smright1} {data.flexform_mdright1} {data.flexform_lgright1} {data.flexform_xlright1}">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw>
                </div>
            </div>
        </div>
    </div>
</f:spaceless>