<f:spaceless>
    <div id="c{data.uid}"
         class="fce-2-col frame frame-{data.frame_class} {data.flexform_addClass} frame-type-{data.CType} frame-layout-{data.layout} frame-width-{data.flexform_width} frame-space-before-{data.space_before_class} frame-space-after-{data.space_after_class}">
        <div class="row items-stretch {data.flexform_addRow}">
            <div class="col {data.flexform_xsleft} {data.flexform_smleft} {data.flexform_mdleft} {data.flexform_lgleft} {data.flexform_xlleft} left">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
                </div>
            </div>
            <div class="col {data.flexform_xsright} {data.flexform_smright} {data.flexform_mdright} {data.flexform_lgright} {data.flexform_xlright} right">
                <div class="inner">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
            </div>
        </div>
    </div>
</f:spaceless>